$hoverColor1:#0A93E2;
$hoverColor2:#737373;
$textColor1:#454647;
$textColor2:#727272;
$textColor3:white;
$textColor4:#222222;
$backGround1:#F8F8F8;
$bgTpBtBan:#333333;

//widths
$maxWidth:1170px;
$maxWidth2:1770px;

